*,
*::before,
*::after {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
*:focus {
  outline: 2px dashed hsl(220,98%, 61%, 0.2);
  outline-offset: 0;
}


:root {
/* Theme 1 */
--main-bg: hsl(222, 26%, 31%);
--main-toggle-bg: hsl(223, 31%, 20%);
--main-screen-bg: hsl(224, 36%, 15%);
--key-bg-primary:hsl(225, 21%, 49%);
--key-shadow-primary:hsl(224, 28%, 35%);
--key-bg-secondary:hsl(6, 63%, 50%);
--key-shadow-secondary: hsl(6, 70%, 34%);
--key-bg-tertiary:hsl(30, 25%, 89%);
--key-shadow-tertiary: hsl(28, 16%, 65%);
--text-color: hsl(221, 14%, 31%);
--white:hsl(0, 0, 100%);


}

body {
  font-family: 'Spartan', sans-serif;
  font-size: 1.8rem;
  background-color: var(--main-bg);
  color: white;
}


h1 {
  font-size:32px;
  
}

h2 {
  font-size:32px;
  float:right;
  margin: 1rem;
}

h3 {
  font-size: 12px;
}

li {
  font-size:12px;
}


.content {
  justify-content: center;
  align-items:center;
  display: flex;
  flex-direction: column;
  margin:auto;

}
/* Header */
.wrapper {
  display:flex;
  justify-content: center;
  justify-content: space-around;
  margin: 2rem auto 0rem; 
}

.toggle-wrapper{
  display:flex;
  justify-content:space-evenly;
}

li {
  display:inline;
  list-style:none;
}
/* Form */
Form {
  margin:1rem;
  width:40%;
  background-color: var(--main-screen-bg);
  border-radius: 6px;
}

/* Calculator buttons */

.container {
  width:40%;
}



.keyboard {
  display:flex;
  flex-wrap:wrap;
  background-color: var(--main-toggle-bg);
  justify-content:center;
  border-radius: 6px;
  height:5rem;
  gap:14px;
  padding:1rem
}


.btn {
  font-size:28px;
  padding:.2rem 1.5rem;
}


@media (max-width: 550px) {

  Form {
    width:80%;
    
  }


  .container {
    width:80%;
  }
  

}