*,
*::before,
*::after {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
*:focus {
  outline: 2px dashed hsl(220,98%, 61%, 0.2);
  outline-offset: 0;
}


:root {
/* Theme 1 */
--main-bg: hsl(222, 26%, 31%);
--main-toggle-bg: hsl(223, 31%, 20%);
--main-screen-bg: hsl(224, 36%, 15%);
--key-bg-primary:hsl(225, 21%, 49%);
--key-shadow-primary:hsl(224, 28%, 35%);
--key-bg-secondary:hsl(6, 63%, 50%);
--key-shadow-secondary: hsl(6, 70%, 34%);
--key-bg-tertiary:hsl(30, 25%, 89%);
--key-shadow-tertiary: hsl(28, 16%, 65%);
--text-color: hsl(221, 14%, 31%);
--white:hsl(0, 0, 100%);

}

:root[data-theme='second'] {
  --main-bg: hsl(0, 0%, 90%);
  --main-toggle-bg: hsl(0, 5%, 81%);
  --main-screen-bg: hsl(0, 0%, 93%);
  --key-bg-primary:hsl(185, 42%, 37%) ;
  --key-shadow-primary:hsl(185, 58%, 25%);
  --key-bg-secondary:hsl(25, 98%, 40%);
  --key-shadow-secondary: hsl(25, 99%, 27%);
  --key-bg-tertiary:hsl(45, 7%, 89%);
  --key-shadow-tertiary: hsl(35, 11%, 61%);
  --text-color:  hsl(60, 10%, 19%);
  --white:hsl(0, 0, 100%);
}

:root[data-theme='third'] {
  --main-bg: hsl(268, 75%, 9%);
  --main-toggle-bg: hsl(268, 71%, 12%);
  --main-screen-bg: hsl(281, 89%, 26%);
  --key-bg-primary:hsl(285, 91%, 52%);
  --key-shadow-primary:hsl(176, 100%, 44%);
  --key-bg-secondary:hsl(177, 92%, 70%);
  --key-shadow-secondary: hsl(268, 47%, 21%);
  --key-bg-tertiary:hsl(45, 7%, 89%);
  --key-shadow-tertiary: hsl(290, 70%, 36%);
  --text-color:   hsl(52, 100%, 62%);  
  --white:hsl(0, 0, 100%);
}

 body {
  font-family: 'Spartan', sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  background-color: var(--main-bg);
  color: white;
} 

/* 
h1 {
  
}

h2 {
  font-size:32px;
  float:right;
  margin: 1rem;
}

h3 {
  font-size: 8px;
  margin:1rem 1rem;
  
}


li {
  font-size:12px;
} */


/* .content {
  justify-content: center;
  align-items:center;
  display: flex;
  flex-direction: column;
  margin:auto;
} */

/* Header */
/* .wrapper {
  display:flex;
  justify-content: space-between;
  margin: 2rem auto 0rem; 
  width:325px;
} */

.toggle-wrapper{
  display:flex;
  justify-content:space-evenly;
}

/* li {
  display:inline;
  list-style:none;
} */
/* Form */
Form {
  /* margin:1rem;
  width:325px;
  height:4rem; */
  background-color: var(--main-screen-bg);
  /* border-radius: 6px;
  overflow:hidden; */
}

/* Calculator buttons */

.container {
  background-color: var(--main-toggle-bg);
}



/* .keyboard-top {
  display:grid;
  grid-template-columns: repeat(4, 60px);
  flex-wrap:wrap;
  justify-content:center;
  height:auto;
  gap:18px;
  padding:1rem;
}

.keyboard-btm {
  display:grid;
  grid-template-columns: repeat(2, 120px);
  flex-wrap:wrap;
  justify-content:center;
  height:auto;
  gap:36px;
  padding:0rem 1rem;
   
} */


.btn {
  background-color: var(--key-bg-tertiary);
  color: var(--text-color);
  border: 1px var(--key-shadow-tertiary) solid;
  border-bottom: 3px var(--key-shadow-tertiary) solid;
}
  /* border-radius: 6px;

  font-size:20px;
  height:40px;
  width:65px;
} */

.odd-btn {
  background-color: var(--key-bg-primary);
  border: 1px var(--key-shadow-primary) solid;
  border-bottom: 3px var(--key-shadow-primary) solid;
}


.btm-btn {
  background-color: var(--key-bg-tertiary);
  color: var(--text-color);
  /* font-size:20px;
  height:40px;
  width:143px; */
  border: 1px var(--key-shadow-tertiary) solid;
  border-bottom: 3px var(--key-shadow-tertiary) solid;
  /* border-radius: 6px;
  margin-left:-9px;
  margin-bottom:1rem;
  color:white; */
}


.reset {
  background-color: var(--key-bg-primary);
  border: 1px var(--key-shadow-primary) solid;
  border-bottom: 3px var(--key-shadow-primary) solid;
}

.equal {
  background-color: var(--key-bg-secondary);
  border: 1px var(--key-shadow-primary) solid;
  border-bottom: 3px var(--key-shadow-secondary) solid;
}

@media (max-width:800px) {


.content {
  
}

  
  

}


@media (min-width:1200px) {
  .content {
   
  }
  
  /* .btn {
    height:60px;
    width:95px;
    padding: 0rem 1rem;
    margin:2
    
  } */
}